---

# default is first item when no version is specified -- mysql 5.6 trusty

osdb:                                   # All versions as of 4/14/17
  mariadb:
    trusty: []                          # Requires uplevel percona-xtrabackup
    xenial: []
    community:
      - version: 10.1                   # 10.1.22
        pkg: mariadb-server
  mongodb:
    trusty:
      - version: 2.4                    # 2.4.9
        pkg: mongodb-server
    xenial:
      - version: 2.6                    # 2.6.10
        pkg: mongodb-server
    community: []
  mysql:
    trusty: []                          # Requires uplevel percona-xtrabackup
    xenial:
      - version: 5.7                    # 5.7.17
        pkg: mysql-server
    community: []
  postgresql:
    trusty: []                          # Requires compilation of missing package
    xenial:
      - version: 9.5                    # 9.5.6
        pkg: postgresql
    community:
      - version: 9.6                    # 9.6.2
        pkg: postgresql
  redis:
    trusty:
      - version: 2.8                    # 2.8.4
        pkg: redis-server
    xenial:
      - version: 3.0                    # 3.0.6
        pkg: redis-server
    community:
      - version: 3.2                    # 3.2.8
        pkg: redis-tools                # This is a substitute package to avoid Trove installs
        srcPkg: redis-3.2.8             # as this database is built from source code
