{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <p>{% trans "Select the instance with the volume to resize, and specify its new volume size." %}</p>
  <p><strong>{% trans "Note:</strong> The new value must be greater than the existing volume size." %}</strong></p>
 <div style="background:white;margin:auto 30px;">
  {% block tg1_t1_icon %}
     <img class="splash-logo" src="{{ STATIC_URL }}/dashboard/img/ResizeInstance.svg">
  {% endblock %}
 </div>

{% endblock %}
