---
# Copyright 2016 IBM Corp.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Temp directory where trove code is cloned to in a container
tmp_dir: /tmp/trove-pkg

trove_apt_packages:
   - python-pip

trove_prereqs:
  - pbr
  - SQLAlchemy
  - eventlet
  - keystonemiddleware
  - Routes
  - WebOb
  - PasteDeploy
  - Paste
  - sqlalchemy-migrate
  - netaddr
  - netifaces
  - httplib2
  - lxml
  - passlib
  - python-heatclient
  - python-novaclient
  - python-cinderclient
  - python-keystoneclient
  - python-swiftclient
  - python-designateclient
  - python-neutronclient
  - iso8601
  - jsonschema
  - Jinja2
  - oslo.config
  - oslo.context
  - oslo.i18n
  - oslo.middleware
  - oslo.serialization
  - oslo.service
  - oslo.utils
  - oslo.concurrency
  - PyMySQL
  - Babel
  - six
  - stevedore
  - oslo.messaging
  - osprofiler
  - oslo.log
  - oslo.db
  - enum34

trove_pip_packages:
  - python-openstackclient
  - python-ceilometerclient
  - python-glanceclient
  - python-ironicclient
  - python-memcached
  - python-troveclient
  - pycrypto

# FOr keystone service endpoint
trove_role_name: admin
trove_service_region: RegionOne
trove_service_endpoint_type: internalURL
trove_service_name: trove
trove_service_port: 8779
trove_service_proto: http
trove_service_type: database
trove_service_description: "Database"
trove_service_project_domain_id: default
trove_service_user_domain_id: default
trove_service_user_name: trove
trove_keystone_auth_plugin: password
trove_service_tenant_name: service
trove_service_project_name: service
trove_service_publicuri: "{{ trove_service_proto }}://{{ external_lb_vip_address }}:{{ trove_service_port }}/v1.0/%(tenant_id)s"
trove_service_publicurl: "{{ trove_service_publicuri }}"
trove_service_internaluri: "{{ trove_service_proto }}://{{ internal_lb_vip_address }}:{{ trove_service_port }}/v1.0/%(tenant_id)s"
trove_service_internalurl: "{{ trove_service_internaluri }}"
trove_service_adminuri: "{{ trove_service_proto }}://{{ internal_lb_vip_address }}:{{ trove_service_port }}/v1.0/%(tenant_id)s"
trove_service_adminurl: "{{ trove_service_adminuri }}"
trove_service_in_ldap: false

# For access to infrastructure network so trove guestagent can talk to rabbit
trove_infra_net_phys_net: infra
trove_infra_net_type: flat
trove_infra_subnet_cidr: "{{ container_cidr }}"
trove_infra_openrc: /root/openrc

MY_IP: "{{ hostvars[groups['trove_all'][0]]['container_address'] }}"
RABBIT_HOST: "{{ hostvars[groups['rabbitmq_all'][0]]['container_address'] }}"
TROVE_PASS: "{{ trove_galera_password }}"
INFRA_NODE: "{{ internal_lb_vip_address }}"
SQL_INFRA_NODE: localhost
NOVA_PASS: "{{ nova_service_password }}"

is_metal: "{{ properties.is_metal|default(false) }}"
