Jinja2>=2.8             # ansible
netaddr>=0.7.12         # playbooks/inventory/dynamic_inventory.py
paramiko>=1.16.0,<2     # ansible and nova
PrettyTable>=0.7,<0.8   # scripts/inventory-manage.py
pycrypto>=2.6           # ansible
PyYAML>=3.1.0           # ansible
msgpack-python>=0.4.0
wrapt>=1.7.0
netifaces>=0.10.4
