---
# example:
#   ansible-playbook -i host_file dbimage-make.yml -u ubuntu -c ssh
#

- name: Initialize deployer
  hosts: deployer
  vars_files:
    - vars/dbimage-args.yml
  tasks:
    - include: tasks/init-deployer.yml

- name: Initialize controller
  hosts: controller
  become: yes
  vars_files:
    - vars/dbimage-args.yml
  tasks:
    - include: tasks/init-controller.yml

- name: Install and run diskimage-builder in DIB
  hosts: dib
  vars_files:
    - vars/dbimage-args.yml
  tasks:
    - include: tasks/init-dibvm.yml
    - include: tasks/validate-args-table.yml
    - include: tasks/pre-install-dib.yml
    - include: tasks/install-dib.yml
    - include: tasks/run-dib.yml

- name: Post process image
  hosts: deployer
  vars_files:
    - vars/dbimage-args.yml
  tasks:
    - include: tasks/convert-image.yml

- name: Upload image to controller
  hosts: controller
  become: yes
  vars_files:
    - vars/dbimage-args.yml
  tasks:
    - include: tasks/upload-image.yml
