{% load i18n sizeformat parse_date %}

<div class="detail">
   <br />
   <div class="panel-group" id="section1">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" href="#tg1_tasks" id="tg1">
                  {% block tg1_icon %}
                     <img class="splash-logo" width="24px" src="{{ STATIC_URL }}/static/dashboard/img/manage_24.svg">
                  {% endblock %}

                  &nbsp;Life-cycle Management:  Deploy and maintain instances
               </a>
            </h4>
         </div>
         <div class=" panel-collapse collapse in" id="tg1_tasks">
            <a id="tg1_taskLink1"  href="/project/database/launch_instance" class="ajax-modal" style="width:auto;display:inline-block;">
               <div id="tg1_task1_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table>
                     <tr>
                        <td align='center'>
                           {% block tg1_t1_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/LaunchInstance.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Launch Instance
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg1_taskLink2"  href="/project/database/restart_instance" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg1_task2_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10"
                     <tr>
                        <td align='center'>
                           {% block tg1_t2_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/RestartInstance-17.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Restart Instance
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg1_taskLink3"  href="/project/database/resize_instance" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg1_task3_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg1_t3_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/ResizeInstance.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Resize Instance
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg1_taskLink4"  href="/project/database/resize_volume" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg1_task4_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg1_t4_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/ResizeInstance.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Resize Volume
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg1_taskLink5"  href="/project/database/rename_instance" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg1_task5_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg1_t5_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/EditInstance.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Rename Instance
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg1_taskLink6"  href="/project/database/delete_instance" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg1_task6_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg1_t6_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/DeleteInstance.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Delete Instance
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg1_taskLink7"  href="/project/database/create_database" class="ajax-modal" style="width:auto;display:inline-block;">
               <div id="tg1_task7_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg1_t7_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/CreateDatabase.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Create Database
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg1_taskLink8"  href="/project/database/delete_database" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg1_task8_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg1_t8_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/DeleteDatabase.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Delete Database
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
         </div>
      </div>
   </div>
   <div class="panel-group" id="section2">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" href="#tg2_tasks" id="tg2">
                  {% block tg2_icon %}
                     <img class="splash-logo" width="24px" src="{{ STATIC_URL }}/static/dashboard/img/view_24.svg">
                  {% endblock %}

                  &nbsp;Availability:  Actions related to backup and recovery
               </a>
            </h4>
         </div>
         <div class=" panel-collapse collapse in" id="tg2_tasks">
            <a id="tg2_taskLink1"  href="/project/database/create_backup" class="ajax-modal" style="width:auto;display:inline-block;">
               <div id="tg2_task1_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg2_t1_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/CreateBackup.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Create Backup
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg2_taskLink2"  href="/project/database/restore_from_backup" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg2_task2_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg2_t2_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/LaunchBackup.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Restore from Backup
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg2_taskLink3"  href="/project/database/delete_backup" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg2_task3_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg2_t3_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/DeleteBackup.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Delete Backup
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
         </div>
      </div>
   </div>
  <div class="panel-group" id="section3">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" href="#tg3_tasks" id="tg3">
                  {% block tg3_icon %}
                     <img class="splash-logo" width="24px" src="{{ STATIC_URL }}/static/dashboard/img/secure_24.png">
                  {% endblock %}

                  &nbsp;Security:  Actions related to managing users and access
               </a>
            </h4>
         </div>
         <div class=" panel-collapse collapse in" id="tg3_tasks">
            <a id="tg3_taskLink1"  href="/project/database/create_user" class="ajax-modal" style="width:auto;display:inline-block;">
               <div id="tg3_task1_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg3_t1_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/CreateUser.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Create User
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg3_taskLink2"  href="/project/database/delete_user" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg3_task2_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg3_t2_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/DeleteUser.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Delete User
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg3_taskLink3"  href="/project/database/manage_root_no_access" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg3_task3_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg3_t3_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/ManageRoot-14.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Manage Root Access
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
            <a id="tg3_taskLink4"  href="/project/database/manage_user_no_access" class="ajax-modal" style="width:auto;display:inline-block">
               <div id="tg3_task4_div_link" style="background:white;margin: auto 30px;" onmouseover="this.style.background='#ebeff5';" onmouseout="this.style.background='white';">
                  <table cellpadding="10">
                     <tr>
                        <td align='center'>
                           {% block tg3_t4_icon %}
                              <img class="splash-logo" width="64px" src="{{ STATIC_URL }}/static/dashboard/img/ManageUser.svg">
                           {% endblock %}
                           <p style="text-align:left; line-height:1;">Manage User Access
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>
