---
# Copyright 2016 IBM Corp.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Check if trove_infra_net exists
  shell: >
    . {{ trove_infra_openrc }};
    openstack network show trove_infra_net
  register: infra_net
  failed_when: False
  changed_when: infra_net.rc != 0
  tags:
    - infra-net

- name: Get admin tenant id
  keystone:
    command: get_tenant
    tenant_name: admin
    endpoint: "{{ keystone_service_adminurl }}"
    login_user: "{{ keystone_admin_user_name }}"
    login_password: "{{ keystone_auth_admin_password }}"
    login_project_name: "{{ keystone_admin_tenant_name }}"
  when: infra_net.rc != 0
  tags:
    - infra-net

- name: Store admin tenant id
  set_fact:
    keystone_admin_tenant_id: "{{ keystone_facts.id }}"
  when: infra_net.rc != 0
  tags:
    - infra-net

- name: Create infra network
  neutron:
    command: create_network
    openrc_path: "{{ trove_infra_openrc }}"
    net_name: trove_infra_net
    provider_physical_network: "{{ trove_infra_net_phys_net }}"
    provider_network_type: "{{ trove_infra_net_type }}"
    tenant_id: "{{ keystone_admin_tenant_id }}"
  delegate_to: "{{ groups['trove_all'][0] }}"
  run_once: true
  when: infra_net.rc != 0
  tags:
    - infra-net

- name: Create infra subnet
  neutron:
    command: create_subnet
    openrc_path: "{{ trove_infra_openrc }}"
    net_name: trove_infra_net
    subnet_name: trove_infra_subnet
    cidr: "{{ trove_infra_subnet_cidr }}"
    tenant_id: "{{ keystone_admin_tenant_id }}"
  delegate_to: "{{ groups['trove_all'][0] }}"
  run_once: true
  when: infra_net.rc != 0
  tags:
    - infra-net

- name: Store infra network id
  set_fact:
    trove_infra_net_id: "{{ neutron_networks.trove_infra_net.id }}"
  delegate_to: "{{ groups['trove_all'][0] }}"
  run_once: true
  when: infra_net.rc != 0
  tags:
    - infra-net

# NOTE: Mitaka needs specific setting of allocation pools.
#       This is not needed in Newton because allocation_pools
#       was introduced as an option in the create_subnet command
- name: Update allocation pools
  shell: >
    . {{ trove_infra_openrc }};
    if openstack network show trove_infra_net 2>&1 | grep -q "No Network found";
    then
      neutron subnet-update --allocation-pool
      start={{trove_infra_subnet_alloc_start}},end={{trove_infra_subnet_alloc_end}}
      trove_infra_subnet;
    fi
  delegate_to: "{{ groups['trove_all'][0] }}"
  run_once: true
  when: infra_net.rc != 0
  tags:
    - infra-net

- name: Wait for infra network to be ready
  shell: >
    . {{ trove_infra_openrc }};
    openstack network show trove_infra_net
  register: result
  until: result.rc == 0
  retries: 20
  delay: 5
  tags:
    - infra-net
